body {
	background-color: black;
	color: white;
}

ul {
	list-style-type: none;
}

a:link {
	color: red;
}

a:hover {
	color: yellow;
	background-color: red;
	text-decoration: none;
}

a:visited {
	color: gray;
}